In [0]:
%sql
create database demo

In [0]:
%sql
create schema demo1

### Views
Spark view is more like a virtual table with no physical data available. we have mainly three types of views in Apache Spark
⮚	Temporary View.
⮚	Global Temporary View.
⮚	Global Permanent View.

In [0]:
%python
# Create a sample DataFrame
data = [("Alice", "Math", 95),
        ("Alice", "Science", 88),
        ("Bob", "Math", 92),
        ("Bob", "Science", 90),
        ("Carol", "Math", 85),
        ("Carol", "Science", 78)]

columns = ["Name", "Subject", "Score"]
df = spark.createDataFrame(data, columns)

In [0]:
df.createTempView('student_tv')

In [0]:
%sql
select * from student_tv

Name,Subject,Score
Alice,Math,95
Alice,Science,88
Bob,Math,92
Bob,Science,90
Carol,Math,85
Carol,Science,78

In [0]:
df.createOrReplaceTempView('student_tv')

In [0]:
df=spark.table('student_tv')

In [0]:
df.show()

+-----+-------+-----+
| Name|Subject|Score|
+-----+-------+-----+
|Alice|   Math|   95|
|Alice|Science|   88|
|  Bob|   Math|   92|
|  Bob|Science|   90|
|Carol|   Math|   85|
|Carol|Science|   78|
+-----+-------+-----+

In [0]:
df2=spark.sql('''select * from 
              student_tv''')

In [0]:
df2.show()

+-----+-------+-----+
| Name|Subject|Score|
+-----+-------+-----+
|Alice|   Math|   95|
|Alice|Science|   88|
|  Bob|   Math|   92|
|  Bob|Science|   90|
|Carol|   Math|   85|
|Carol|Science|   78|
+-----+-------+-----+

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-2133498735304387>, line 1
----> 1 df3=spark.table.read('student_tv')

AttributeError: 'function' object has no attribute 'read'